//- footer  
.sectionn
    .container.footercont
        section.page-section#contact
            .row.middle-xs
                .col-xs-12.col-sm-12.col-md-12.col-lg-6
                    .box-row
                        .textblock
                            h2.titlefont.block I am seeking my next role.
                .col-xs-12.col-sm-12.col-md-12.col-lg-6
                    .box-row
                        .bigbtn
                            a.btn.giant.pink.wicon.email(href="mailto:saniasyed0516@gmail.com") 
                                .textblock 
                                    h6.titlefont.block Contact me
                                    p.body
                                        | Questions? Feedback? Hiring? 
                                        br
                                        | Let's get in touch!
                        .bigbtn.green
                            a.btn.giant.green.wicon.doc(href="https://drive.google.com/file/d/1kuYYUBSUaB44xocU2yG6yzQgojeW5AB8/view?usp=drive_link" target="_blank") 
                                .textblock 
                                    h6.titlefont.block Get my resume
                    
.sectionn.mobile
    .container.mobile
        section.page-section
            .row
                .col-xs-12.col-sm-12.col-md-4.col-lg
                    a.btn.tab(href='/')
                        .anim
                            .anim-btn sania
                
.sectionn.notmobile
    .container.notmobile
        section.page-section
            .row
                .col-xs-12.col-sm-12.col-md-4.col-lg
                    a.btn.tab(href='/')
                        .anim
                            .anim-btn sania
                .col-xs-12.col-sm-12.col-md-8.col-lg
                    nav.nav
                        ul.nav__groups  
                            li.nav__group
                                a.btn.tab(href="#work") work
                            li.nav__group
                                a.btn.tab(href="#about") about me
                            li.nav__group
                                a.btn.tab(href="#contact") contact
    