//- header  

//.sectionn.intro
.sectionn.intro
  .container.notmobile.top.navcont
    section.page-section
      .row
        .col-xs-12.col-sm-12.col-md-4.col-lg-6
          a.btn.tab(href='/')
            .anim
              .anim-btn sania 
        .col-xs-12.col-sm-12.col-md-8.col-lg-6
          nav.nav
            ul.nav__groups
              li.nav__group
                  a.btn.tab(href="#work") work
              li.nav__group
                  a.btn.tab(href="#about") about me
              li.nav__group
                  a.btn.tab(href="#contact") contact
  .container.top.herocont
    section.page-section
      .intromessage.loaded
        .double-layered-text(data-text="") 
          | Hello 
          span.emoji &#x1F44B;&#x1F3FC;
          |  my name is Sania.
        .double-layered-text(data-text="") 
          | I am a digital product designer based in Los Angeles, CA.
        h5
          | I specialize in crafting design-based solutions that promote simplicity + satisfaction.
          br
          | Currently seeking my next role.
        a.btn.link.dark-bg.wicon.scrolldown.right#selected(href="#work") My recent work

  .container.circlesCont
    .circles-content.loaded
      .gradient-container
        .color-row
          .coldiv 
          .coldiv 
          .coldiv 
          .coldiv 
          .coldiv 
        .color-row2
          .majordiv
          .majordiv
          .majordiv
      .circles-container
        .shapeee
        .shapeee
        .shapeee
        .shapeee
        .shapeee
        .shapeee
        .shapeee
        .shapeee
        .shapeee
        .shapeee 
        .shapeee
        .shapeee
        .shapeee
        .shapeee
        .shapeee