block variables
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="Sania Syed's is a digital Product Designer based in Los Angeles, CA.")

    link(rel="shortcut icon", href="/public/images/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(data-goatcounter="https://saniadesign.goatcounter.com/count" async src="//gc.zgo.at/count.js")

    link(rel="stylesheet" href="/public/css/style.css")
    script(type="text/javascript" src="/public/js/scripts.js")

    title Sania Syed | Product Designer
  body
    include header.pug
    block hero
    block featured
    block testimonial
    include footer.pug 