//- header  
.sectionn.headerr.mobile
  .container.mobile
    section.page-section
      .row
        .col-xs.col-sm.col-md-12.col-lg
          a.btn.tab.dark(href='/')
            .anim.dark
              .anim-btn sania
              //.anim-text ania
        .col-xs.col-sm.col-md-12.col-lg
          .button-row.header
              
.sectionn.headerr.notmobile#1
  .container.notmobile.top
    section.page-section
      .row
        .col-xs-12.col-sm-12.col-md-4.col-lg-2
          a.btn.tab.dark(href='/')
            .anim.dark
              .anim-btn s
              .anim-text ania
        .col-xs-12.col-sm-12.col-md-8.col-lg
          nav.nav-reg
            ul.nav-reg__groups  
              li.nav-reg__group
                a.btn.tab.dark(href="/#work", target="_blank") work
              li.nav-reg__group
                a.btn.tab.dark(href="/#about", target="_blank") about me
              li.nav-reg__group
                a.btn.tab.dark(href="/#contact", target="_blank") contact

.sectionn.headerr.toc.notmobile
  .container.notmobile
    section.page-section
      nav.nav-toc
        ul.nav-toc__groups  
          li.nav-toc__group
            a.btn.link.wicon.scrollup.left(href="#1") Intro
          li.nav-toc__group
            a.btn.link(href="#2") Discovery
          li.nav-toc__group
            a.btn.link(href="#3") Solutions
          li.nav-toc__group
            a.btn.link(href="#4") Mockups
          li.nav-toc__group
            a.btn.link(href="#5") Conclusion
        ul.nav-toc__groups  
          li.nav-toc__groupy
            a.btn.link.wicon.go.right.animated(href=`/work/bpg`) Next Case Study

          
                        


    